h1{color:darkgray;}
h2{font-family:'Times New Roman', Times, serif}
h2{color:rgb(118, 215, 169);}
h2{font-family:'Times New Roman', Times, serif}
h3{color:rgb(144, 161, 222);}
h4{color:rgb(209, 26, 26);}
h2{font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif}
h5{color:rgb(146, 146, 6);}
h5{font-family:Georgia, 'Times New Roman', Times, serif}
h6{color:rgb(51, 175, 61);}
h7{color: blueviolet;}

h8{color:darkgray;}
h9{color:darkgray;}
h10{color:darkgray;}
h11{color:darkgray;}
h12{color:darkgray;}
